$primary-color: #16513d;
$second-color: #2ba644;

@mixin tablet {
  @media all and (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media all and (max-width: 576px) {
    @content;
  }
}

body {
  cursor: auto;
}

.animationTest {
  position: absolute;
  z-index: 999999;
  min-height: 300vh;
  background-color: rgba($color: #f2f2f2, $alpha: 0.7);
  animation: animTest 3.2s ease-in-out forwards;
  svg {
    position: relative;
    width: 50%;
    left: 25%;
  }
    .city {
      fill: none;
      stroke: #222;
      stroke-width: 3px;
      stroke-dasharray: 1;
      stroke-dashoffset: 1;
      animation: move 2.5s ease-in-out;
      animation-fill-mode: forwards;
  }

  .g {
      fill: url(#SVGID_1_);
      stroke: url(#SVGID_1_);
      stroke-width: 5px;
      stroke-dasharray: 1;
      stroke-dashoffset: 1;
      animation: move 2s linear;
      animation-fill-mode: forwards;
  }

  .v {
      fill: url(#SVGID_2_);
      stroke: url(#SVGID_2_);
      stroke-width: 5px;
      stroke-dasharray: 1;
      stroke-dashoffset: 1;
      animation: move 2s linear;
      animation-fill-mode: forwards;


  }

  .a {
      fill: url(#SVGID_3_);
      stroke: url(#SVGID_3_);
      stroke-width: 5px;
      stroke-dasharray: 1;
      stroke-dashoffset: 1;
      animation: move 2s linear;
      animation-fill-mode: forwards;

  }

  .carrelages {
      fill: #222;
      stroke: #222;
      stroke-width: 0.5px;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      animation: move 1.5s linear;

      animation-fill-mode: forwards;
  }
}

@keyframes animTest {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: collapse;
    display: none;
  }
}

/* Header */

header {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
    url(/Photos/Geneva.jpg) no-repeat 40% 17%;
  height: 90vh;
  position: relative;
    @include mobile {
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
      url(/Photos/Geneva.jpg) no-repeat 40% 16%;
    }

  p {
    justify-content: center;
    @include tablet {
      align-items: center;
    }
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: $second-color;
        transition: color 0.15s ease-in-out;
      }
    }
  }

  .flexP {
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
  }

  .icon {
    font-size: 30px;
    margin: 0px 20px;
    i {
      vertical-align: middle;
    }
  }

  .headerLine {
    border-bottom: 2px solid $second-color;
  }

  .navbar-light .navbar-nav .nav-link.active {
    color: white;
  }

  nav {
    .navbar-toggler {
      border: 0;
      .hamburger {
        color: lightgray;
        font-size: 1.8em;
      }
    }
    .navbar-collapse {
      @include mobile {
        position: relative;
        top: 10px;
        left: 0;
        height: 100%;
      }
      .navUl {
      margin-right: 3%;
      font-size: 1.3em;
      @include mobile {
        position: relative;
        height: 270px;
        z-index: 2;
        background-color: rgba($color: #222, $alpha: 0.9);
        border-radius: 3%;
      }
      .nav-item {
        padding: 2px 10px;
        @include mobile {
          margin: 3% 15%;
        }
        .nav-link {
          color: white;
          padding: 5px 10px;
          &:hover {
            color: white;
            background-color: $primary-color;
            transition: background-color 0.30s ease-in-out;
          }
        }
      }
    }
  }
    .navbar-collapse.collapsing {
        left: -120%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: -10%;
        transition: left 400ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
  }
}

.nav-pills .nav-link.active {
  background-color: $primary-color;
}

h1 {
  font-size: 2.3em;
  @include tablet {
    font-size: 2em;
  }
}

.logo {
  max-width: 400px;
  height: auto;
  margin: auto;
  animation: showLogo 3.5s ease-in-out forwards;
  @include mobile {
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 7%;
    max-width: 300px;
    margin-top: 100px;
  }
}

/* Header Animation */

.containerAnim {
  position: absolute;
  z-index: 999;
  right: 5%;  /* Faire position */
  top: 10%;
  width: 37%;
  animation: vanish 5s ease-in-out forwards;

  .city {
      fill: none;
      stroke: #222;
      stroke-width: 5px;
      stroke-dasharray: 1;
      stroke-dashoffset: 1;
      animation: move 3s ease-in-out;
      animation-fill-mode: forwards;
  }

  .g {
      fill: none;
      stroke: $primary-color;
      stroke-width: 5px;
      stroke-dasharray: 1;
      stroke-dashoffset: 1;
      animation: move 1s linear;
      animation-fill-mode: forwards;
  }

  .v {
      fill: none;
      stroke: lighten($color: $primary-color, $amount: 10);
      stroke-width: 5px;
      stroke-dasharray: 1;
      stroke-dashoffset: 1;
      animation: move 1.5s linear;
      animation-fill-mode: forwards;
      animation-delay: 1s;

  }

  .a {
      fill: none;
      stroke: lighten($color: $primary-color, $amount: 20);
      stroke-width: 5px;
      stroke-dasharray: 1;
      stroke-dashoffset: 1;
      animation: move 1.5s linear;
      animation-fill-mode: forwards;
      animation-delay: 2.2s;
  }

  .carrelages {
      fill: none;
      stroke: #222;
      stroke-width: 1.6px;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      animation: move 1.5s linear;
      animation-delay: 4s;
      animation-fill-mode: forwards;
  }
}


@keyframes move {
  0% {
    fill-opacity: 0;
  }

  90% {
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

@keyframes vanish {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: collapse;
  }
}

@keyframes showLogo {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* Header Animation */

/* Section */

.h2Mobile {
  background-color: $primary-color;
  padding: 15px 5px 10px;
  h2 {
    font-size: 1.4em;
  }
}

p {
  font-size: 1.1em;
}

.textLine {
  position: relative;
  font-size: 1.3em;
  &::after {
    content: "";
    width: 30%;
    border-bottom: solid 4px $second-color;
    position: absolute;
    left: 35%;
    top: 100%;
    z-index: 1;
    border-radius: 10px;
  }
}

.cardContainer {
  background-color: $primary-color;
  border-radius: 5px;
  box-shadow: 5px 5px 6px lightgrey;
  padding: 10px 0px;

  .h3Line {
    border-bottom: white 1px solid;
  }
  
  .slideIn {
    opacity: 0;
  }
  .slideIn-transition {
    animation: slideInTop 0.7s ease-in-out forwards;
    &:nth-child(2) {
      animation-delay: 0.1s;
    }
    &:nth-child(4) {
      animation-delay: 0.1s;
    }
  }

  .card {
    flex-direction: row;
    align-items: center;
    max-width: 550px;
    margin: 30px 20px;
    box-shadow: 1px 1px 5px black;
  }

  .card-title {
    font-weight: bold;
  }

  .cardTitleLine {
    position: relative;
    padding-bottom: 10px;

    &::after {
      content: "";
      width: 30%;
      border-bottom: solid 3px $second-color;
      position: absolute;
      left: 35%;
      top: 100%;
      z-index: 1;
      border-radius: 10px;
    }
  }

  .card img {
    margin: -1px -13px;
    max-width: 40%;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
  }

  .card-text {
    list-style: none;
    padding: 0;
    li {
      padding: 3px 0 3px 10px;
      &::before {
        content: "♦";
        padding-right: 5px;
        color: $second-color;
      }
    }
  }
}

@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

article {
  .divLine {
    position: relative;
    padding-bottom: 10px;
    &::after {
      content: "";
      width: 15%;
      border-bottom: solid 4px $second-color;
      position: absolute;
      left: 42%;
      top: 100%;
      z-index: 1;
      border-radius: 10px;
    }
  }

  .divImg {
    .slideIn {
      opacity: 0;
    }
    .slideIn-transition {
      animation: slideInTop 0.7s ease-in-out forwards;
      &:nth-child(2) {
        animation-delay: 0.1s;
      }
      &:nth-child(3) {
        animation-delay: 0.2s;
      }
      &:nth-child(4) {
        animation-delay: 0.3s;
      }
    }
    img {
      width: 250px;
      height: 200px;
      margin: 10px 0px;
      border-radius: 5px;
      box-shadow: 5px 5px 6px lightgrey;
    }

    p {
      position: relative;
      padding-top: 20px;
      &::after {
        content: "";
        width: 15%;
        border-bottom: solid 3px black;
        position: absolute;
        left: 42%;
        top: 20%;
        z-index: 1;
        border-radius: 10px;
      }
    }
  }
}

/* Footer */

.containerGreen {
  background-color: $primary-color;
}

.containerGeenLine {
  border-top: 2px solid white;
  margin: 0 auto;

  .flexP {
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet {
      flex-direction: column;
    }
  }

  p {
    justify-content: center;
    @include tablet {
      align-items: center;
    }
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: $second-color;
        transition: color 0.15s ease-in-out;
      }
    }
  }

  .icon {
    font-size: 30px;
    margin: 0px 20px;
    i {
      vertical-align: middle;
    }
  }
}
