/* Footer */

.containerGeenLine {
  background-color: $primary-color;
  border-top: 2px solid white;
  margin: 0 auto;
  .flexP {
    display: flex;
    justify-content: center;
    align-items: center;
    @include ordi {
      flex-direction: column;
    }
  }

  p {
    font-size: 1.1em;
    justify-content: center;
    @include tablet {
      align-items: center;
    }
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: $second-color;
        transition: color 0.15s ease-in-out;
      }
    }
  }

  .icon {
    font-size: 30px;
    margin: 0px 20px;
    i {
      vertical-align: middle;
    }
  }
}

.signature {
  color: white;
  margin: 5px 0;
  text-align: center;
  font-size: 1.1em;
  a {
    text-decoration: none;
    color: lightgray;
    &:hover {
      color: $second-color;
      transition: color 0.15s ease-in-out;
    }
  }
}
