$primary-color: #156760;
$second-color: #2ba644;

@mixin quatreK {
  @media all and (min-width: 1900px) {
    @content;
  }
}

@mixin ordi {
  @media all and (max-width: 1200px) {
    @content;
  }
}

@mixin tablet {
  @media all and (max-width: 767px) {
    @content;
  }
}

@mixin tablet-subPage {
  @media all and (max-width: 770px) {
    @content;
  }
}

@mixin mobile {
  @media all and (max-width: 576px) {
    @content;
  }
}

@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  cursor: auto;
  overflow-x: hidden;
}

// Pour débuger quand ça sort de l'écran

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/
